:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-size: 16px;
  --line-height: 1.5;
  --grid-color: #555;
  --header-height: 48px;
  --row-padding: 4rem;
  --row-padding-vertical: var(--row-padding);
  --spacingv: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: var(--header-height) 0 0 0;
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active {
  background-color: var(--foreground);
  color: var(--background);
}

a.mid:not(.active) {
  background-color: rgba(255, 255, 255, 0.1);
}

a.high:not(.active) {
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  margin-bottom: calc(var(--spacingv) * 2);
}

h1 {
  font-size: calc(100vw / 12);
  font-weight: 600;
}

h2 {
  font-size: calc(100vw / 16);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.row {
  display: flex;
  justify-content: center;
  padding: var(--row-padding-vertical) var(--row-padding);

  > * {
    width: 100%;
  }
}

.columns {
  column-width: 22em;
  column-count: 4;
  column-gap: 3em;
  column-fill: balance;
}

.grid {
  display: grid;
}
