.inspector {
  --inspector-width: calc(80vw - var(--row-padding)*2);
  --glyph-padding: 1rem;
  --glyph-font-size: calc(3rem + 10vw);
  --toolbar-height: calc(var(--cell-size) + 1px);

  @media (width >= 40rem) {
    --inspector-width: calc(50vw - var(--row-padding)*2);
  }

  position: sticky;
  display: grid;
  grid-template-rows: auto 1fr;
  top: var(--header-height);
  left: 0;
  height: 100%;
  box-shadow: 0 0 0 var(--line-width) var(--grid-color);

  .preview {
    display: flex;
    flex: 0 0 auto;
    width: var(--cell-size);
    height: var(--cell-size);
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-left: var(--line-width) solid var(--grid-color);
  }

  .toolbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: var(--toolbar-height);
    padding: 0 1rem 0 1rem;
    border-bottom: var(--line-width) solid var(--grid-color);
    overflow: hidden;
    white-space: nowrap;
  }

  .details, .identification {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .identification {
    text-align: right;
  }

  .transcript {
    font-style: italic;
  }

}

.canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 15rem;
  max-height: calc((var(--row-max-width) - var(--row-padding) * 2) / 2);
  height: var(--inspector-width);
  text-align: center;

  .glyph {
    padding-bottom: var(--glyph-padding);
    line-height: 1;
    font-size: calc(1.2rem + 8vw);
  }

  .name {
    font-size: 1.75rem;
  }

  .transcript {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .toneClass {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
    opacity: 0.5;
  }

  .soundButton {
    padding: 0;
    border: none;
    font: inherit;
    text-decoration: underline;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: var(--link-hover-color);
    }
  }
}

