.inspector {
  position: sticky;
  display: grid;
  grid-template-rows: auto 1fr;
  top: var(--header-height);
  left: 0;
  height: 100%;
  max-height: calc(100vh - var(--header-height));
  box-shadow: 0 0 0 var(--line-width) var(--grid-color);

  .preview {
    display: flex;
    flex: 0 0 auto;
    width: var(--cell-size);
    height: var(--cell-size);
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-left: var(--line-width) solid var(--grid-color);
  }

  .toolbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: var(--cell-size);
    padding: 0 1rem 0 1rem;
    border-bottom: var(--line-width) solid var(--grid-color);
    overflow: hidden;
    white-space: nowrap;
  }

  .details, .identification {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .identification {
    text-align: right;
  }

  .transcript {
    font-style: italic;
  }

  .canvas {
    --font-size: calc(4rem + 20vw);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: calc(var(--cell-size) + var(--font-size) + 20vw);
    font-size: var(--font-size);
    text-align: center;
    line-height: 1.0;

    .glyph {
      padding-bottom: 2rem;
    }

    .name {
      font-size: 1.75rem;
    }

    .transcript {
      font-size: 1.25rem;
      font-weight: 300;
    }

    .toneClass {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      font-size: 1rem;
      opacity: 0.5;
    }
  }
}
