.page {
  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: calc(100vw / 12);
  letter-spacing: -0.03rem;
  line-height: 1.0;
}

.columns {
  column-width: 22em;
  column-count: 2;
  column-gap: 3em;
  column-fill: balance;
}

.footer {
  font-size: 0.9rem;
  opacity: 0.3;
}