.page {
  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: -0.03rem;
  line-height: 1.0;
}

.subTitle {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
