.page {
  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: -0.03rem;
  line-height: 1.0;
}

.columns {
  column-width: 22em;
  column-count: 2;
  column-gap: 3em;
  column-fill: balance;
}
