.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  padding: 0;
  overflow: hidden;
  z-index: 2;
  align-items: stretch;
  background: var(--background);
  font-size: 0.875rem;

  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
  }

  > div {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 0 calc(var(--row-padding)/4);
  }

  @media (width >= 48rem) {
    position: sticky;

    > div{
      padding: 0 var(--row-padding);
    }
  }
}

.scrollReveal {
  transition: opacity 200ms ease-in-out;
}

.menu {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  @media (width >= 48rem) {
    position: sticky;
    gap: 2rem;
  }
}